export(unireg,unimat,equiknots)
S3method(print,unireg)
S3method(predict,unireg)
S3method(points,unireg)
S3method(plot,unireg)
importFrom(splines, splineDesign)
importFrom(quadprog, solve.QP.compact)
importFrom(mvtnorm, pmvnorm)
importFrom(SEL, knotave)
importFrom(stats, optimize, predict)
importFrom(graphics, plot, points)
import(DoseFinding)
import(MASS)
import(parallel)
